@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  background-image: url(../img/isl1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
  box-sizing: border-box;
}

header {
  position: relative; 
  z-index: 1; 
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 20px;
}

.nav-logo {
  margin-left: 20px; 
}

.nav-logo .logo {
  width: 80px; 
}

nav ul {
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  display: flex;
  gap: 20px; 
}

nav ul li {
  position: relative; 
  font-weight: bold;
  color: #985f0a;
}

nav ul li a {
  text-decoration: none; 
  color: #171414; 
  font-size: 20px;
  padding: 10px 20px; 
  display: block; 
  transition: background-color 0.3s ease;
  color: #985f0a;
}

nav ul li ul {
  display: none; 
  position: absolute; 
  top: 100%; 
  left: 0;
  background-color: rgb(61, 55, 55); 
  padding: 10px 0;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); 
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  width: 200px; 
}

nav ul li ul li a {
  padding: 10px;
  color: #141111; 
}

nav ul li ul li a:hover {
  background-color: #937421; 
}

#logout-btn {
  margin-right: 10px;
  font-weight: bold;
  background-color: transparent; 
  color: #985f0a;
  font-size: 20px; 
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

nav ul li button {
  display: block;
  width: 100%; 
  text-align: left; 
}

main {
  overflow-y: auto;
  max-height: calc(100vh - 20px);
  margin: 0; 
  padding: 0; 
}

.about-section {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  margin: 0 auto;
  color: white;
  width: 90%;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.about-section h1 {
  margin-top: 0; 
  font-family: 'Arial', sans-serif;
  padding: 2px;
  margin: 0%;
}

.left-column, .right-column {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2px;
  margin: 0%;
}

.about-section h2 {
  /* color: #985f0a; */
  font-family: 'Arial', sans-serif;
  padding: 1px;
  margin: 1px;
}

.about-section p, .about-section li {
  line-height: 1.8;
  color: #985f0a;

}
.about-section li{
  color: aliceblue;
}
.about-section strong1{
  color: #985f0a;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding-left: 0;
  font-size: 1.1rem;
  margin-bottom: 10px;

}
ul li strong{
  color: #141111;
}

.about-section p:last-child {
  text-align: left;
  font-weight: bold;
  margin-top: 20px;
  color: black;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
} 
footer {
  background-color: #322a1e; 
  color: white;
  padding: 20px 0;
  margin-top: 20px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container p {
  margin: 0;
}

.social-links a {
  color: white;
  margin-left: 15px;
  font-size: 24px; /* Icon size */
  text-decoration: none;
}

.social-links a:hover {
  color: #985f0a; /* Hover color */
}

.social-links i {
  transition: color 0.3s ease; /* Smooth transition */
}
