@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
header{
    position: relative; 
    z-index: 1;
}
nav {
  background-color: #7e692c;
  padding: 8px;
  width: 100%;
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  align-items: center;
}

.nav-logo {
  position: relative;
  width: 90%;     
}

.nav-logo .logo {
  width: 80px; /* Adjust as needed */
}

nav ul {
  list-style-type: none; /* Remove bullets */
  margin-left: 50px;
  padding: 5px;
  gap: 20px;
  display: flex;
  
}

nav ul li {
  position: relative; /* Allows dropdown positioning */
  padding: 5px;
  margin-right: 20px;
  font-weight: bold;
}

nav ul li a {
  text-decoration: none; /* Remove underline from links */
  color: #171414; /* Text color */
  font-size: 18px;
  padding: 10px 10px;
  display: flex;
  transition: background-color 0.3s ease;
  border-radius: 6px;
}

nav ul li a:hover {
  background-color: #1d2522; /* Change background on hover */
  border-radius: 6px;
  color: azure;
}

/* Dropdown styling */
nav ul li ul {
  display: none; /* Hide dropdown by default */
  position: absolute; /* Position dropdown below parent */
  top: 100%;
  left: 0;
  background-color: rgb(61, 55, 55);
  padding: 10px 0;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

nav ul li:hover ul {
  display: block; 
}

nav ul li ul li {
  width: 200px; 
}

nav ul li ul li a {
  padding: 10px;
}

nav ul li ul li a:hover {
  background-color: #937421; 
}
.hero{
    background-image: url(../img/is.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 55vh;
    background-size: cover;
    padding-top: 07rem;

}
.bis{
    text-align: right;
    max-width: 1200px;
    font-size: 35px;
    text-shadow: 2px 1px 5px blanchedalmond; 
}
.hero-content {
    text-align: right;
    padding: 15px;
}
.hero-content h1{
    font-size: 35px;
    text-shadow: 2px 1px 5px blanchedalmond;
    text-transform: uppercase; 
    font-weight: 600;
    max-width: 1300px;
    padding-left: 2%;
} 
.hero-content p{
    text-shadow: 2px 1px 4px blanchedalmond;
    padding-left: 600px;
    max-width: 1000px;
    text-align: left;
    line-height: 1.6;
    border-radius: 10px;
}
