@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-image: url(../img/isl1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  position: relative; 
  z-index: 1; 
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 20px;
}

.nav-logo {
  margin-left: 20px; 
}

.nav-logo .logo {
  width: 80px; 
}

nav ul {
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  display: flex;
  gap: 20px; 
}

nav ul li {
  position: relative; 
  font-weight: bold;
  color: #985f0a; 
}

nav ul li a {
  text-decoration: none; 
  color: #985f0a; 
  font-size: 20px;
  padding: 10px 20px; 
  display: block; 
  transition: background-color 0.3s ease;
}

#logout-btn {
  margin-right: 10px;
  font-weight: bold;
  background-color: transparent; 
  color: #985f0a;
  font-size: 20px; 
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 800px;
  margin: auto;
  background-color: #8a7f5f;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  perspective: 1000px; 
}

h1, h2 {
  text-align: center;
  color: #4c3005; 
}

h2 {
  margin-top: 20px; 
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  transform: rotateX(0deg); 
  transition: transform 0.3s;
}

table:hover {
  transform: rotateX(10deg); 
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #0d0c0c;
  background-color: #655d44;
  border-radius: 10px ; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

th {
  background-color: #53432b; 
}

td {
  color: #333; 
}
footer {
  background-color: #322a1e; 
  color: white;
  padding: 20px 0;
  margin-top: 20px
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container p {
  margin: 0;
}

.social-links a {
  color: white;
  margin-left: 15px;
  font-size: 24px; 
  text-decoration: none;
}

.social-links a:hover {
  color: #985f0a; 
 }

.social-links i {
  transition: color 0.3s ease; 
} 
@media (max-width: 768px){
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box; 
  }

  body {
      height: auto;
      overflow-x: hidden;
      padding: 0; 
      margin: 0; 
  } 
  nav {
      position: relative;
      z-index : 1;
  }
  nav ul {
      display: flex; 
      flex-direction: column; 
      align-items: center; 
      padding: 0; 
      margin: 0; 
      gap: 20px; 
  }
  
  nav ul li {
      font-size: 10px; 
  }  
  
  nav ul li a {
      font-size: 18px;
      padding: 5px 15px; 
      transition: background-color 0.3s ease; 
  }
    
  main {
        height: calc(100vh - 160px); 
        display:flex ;
        height: auto;
        flex-direction: column;
        width: 100%;
  }
  .container{
      margin: 10px;
  }
  .footer-container {
        display: flex; 
        flex-direction: column;
        align-items: center; 
        text-align: center; 
  }
  
}
@media (max-width: 480px) {
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box; 
  }

  body {
      height: auto;
      overflow-x: hidden;
      padding: 0; 
      margin: 0; 
  }

  nav {
      position: relative;
      z-index: 1;
      
  }

  nav ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      margin: 0;
      gap: 20px;
     
  }

  nav ul li {
      font-size: 10px;
  }

  nav ul li a {
      font-size: 16px;
      padding: 5px 15px;
  }
  .container{
      margin: 20px;
  }

  main {
      height: auto; 
      display: flex;
      flex-direction: column;
      width: 100%;
  }

  .footer-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 10px; 
      width: 100%; 
  }
}
